includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
services:
    -
        class: PHPStan\Rules\StrictCalls\StrictFunctionCallsRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\SwitchConditions\MatchingTypeInSwitchCaseConditionRule
        tags:
            - phpstan.rules.rule

parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    parallel:
    		maximumNumberOfProcesses: 2
    tmpDir: '%currentWorkingDirectory%/phpStanTmp'
    reportUnmatchedIgnoredErrors: false
